---
const pageTitle = "Blog";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{pageTitle}</title>
	</head>
	<body>
        <a href="/">{pageTitle}</a>
        <a href="/blog/">Blog</a>
        <a href="/about/">About</a>
		<h1>{pageTitle}</h1>
        <p>Start your how-to journey here. There is alot of content to come so browse around. There's somthing here for you!</p>
        <p>Come and get it!</p>
        <ul>
            <li><a href="/posts/python-project-create-to-do-cli-app">Python Project - Create a To-Do Cli App</a></li>
            <li><a href="/posts/post-2/">Post 2</a></li>
            <li><a href="/posts/post-3/">Post 3</a></li>
        </ul>
	</body>
</html>
